<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="/CSS/all.min.css" />
    <link rel="stylesheet" href="/CSS/style.css" />
  </head>
  <body>
    <header>
      <div class="container full-nav-bar">
        <nav class="nav-menu navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <button class="navbar-toggler btn btn-light" type="button"data-bs-toggle="collapse"data-bs-target="#navbarSupportedContent"aria-controls="navbarSupportedContent"aria-expanded="false"aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="mt-2">
              <div class="form-check form-switch ms-auto me-3">
                <label class="form-check-label" for="lightSwitch">
                  <i class="fa-regular fa-lightbulb"></i>
                </label>
                <input class="form-check-input" type="checkbox" id="lightSwitch" role="switch" onclick="setDarkMode()"/>
              </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link nav-link-1 btn" aria-current="page" href="/">Home</a></li>
              </ul>
              <form class="d-flex call-me-form" role="search">
                <input class="form-control phone-input me-2" type="tel" placeholder="Phone number" aria-label="Phone number"/>
                <button class="btn btn-outline-primary text-nowrap" type=""> Call me </button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div class="container container-login">
        <div class="row">
          <div class="col-6 offset-3 box-body shadow-lg p-3 mb-5 bg-body rounded mt-9 login-form">
            <h1 class="text-center mb-5">Admin Page</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="sign-in-tab" data-bs-toggle="tab" data-bs-target="#sign-in-tab-pane" type="button" role="tab" aria-controls="sign-in-tab-pane" aria-selected="true">
                  Sign in
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane" type="button" role="tab" aria-controls="register-tab-pane" aria-selected="false">
                  Register
                </button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="sign-in-tab-pane" role="tabpanel" aria-labelledby="sign-in-tab" tabindex="0">
                <form class="sign-in-form text-center mt-3">
                  <div class="mb-3 mt-3">
                    <label for="sign-in-email" class="mb-1">Email address => email@test.com </label>
                    <input class="form-control input-password m-auto text-center" type="email" id="sign-in-email" placeholder="Enter email"/>
                  </div>
                  <div class="mb-3">
                    <label for="sign-in-password" class="mb-1">Password => 123456</label>
                    <input class="form-control input-password m-auto text-center" type="password" id="sign-in-password" placeholder="Password"/>
                  </div>
                  <button class="btn btn-primary">Sign in</button>
                  <hr>
                  <a class="fs-6 text-decoration-none forgotten-link"href="/requestPasswordReset">Forgot password?</a>
                </form>
              </div>
              <div class="tab-pane fade" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="1">
                <form class="register-form text-center">
                  <div class="mb-3 mt-3">
                    <label for="sign-in-name" class="mb-1 field-title">Name</label>
                    <input class="form-control input-password m-auto text-center" type="text" id="sign-in-name" placeholder="Enter your name"/>
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="register-email" class="mb-1 field-title">Email address</label>
                    <input class="form-control input-password m-auto text-center" type="email" id="register-email" placeholder="Enter email"/>
                  </div>
                  <div class="mb-3">
                    <label for="register-password" class="mb-1 field-title">Choose a Password</label>
                    <input class="form-control input-password m-auto text-center" type="password" id="register-password" placeholder="Password"/>
                  </div>
                  <div class="mb-3">
                    <label for="register-re-enter-password" class="mb-1 field-title">Re-enter your password</label>
                    <input class="form-control input-password m-auto text-center" type="password" id="register-re-enter-password" placeholder="Re-enter password"/>
                  </div>
                  <button class="btn btn-primary mt-3">Register</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
