<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Password</title>
    <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="/CSS/all.min.css" />
    <link rel="stylesheet" href="/CSS/style.css" />
  </head>
  <body>
    <header class="mb-5 mt-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand btn" href="/">Home</a>
          <div class="mt-2">
            <div class="form-check form-switch ms-auto me-4">
              <label class="form-check-label" for="lightSwitch">
                <i class="fa-regular fa-lightbulb"></i>
              </label>
              <input class="form-check-input" type="checkbox" id="lightSwitch" role="switch" onclick="setDarkMode()"/>
            </div>
          </div>
          <button class="navbar-toggler btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="call-me-form d-flex">
              <input class="form-control phone-input me-2" type="tel" placeholder="Phone number" aria-label="Phone number"/>
              <button class="btn btn-outline-primary text-nowrap" type="submit">
                Call me
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-8 offset-2 box-body shadow-lg p-3 mb-5 bg-body rounded">
            <h1 class="text-center admin-header">Admin Page</h1>
            <p class="text-center mb-2 mt-3" style="color:#0d6efd">Reset Password</p>
            <ul class="nav nav-tabs" id="myTab" role="tablist"></ul>
            <form class="forgotten-password-form text-center mt-3">
              <div class="mb-3">
                <label for="forgotten-password" class="mb-1 email-title">Email address</label>
                <input class="forgotten-password-input input-password m-auto text-center form-control" type="email" id="forgotten-password" placeholder="Enter your email"/>
              </div>
              <button class="send-link-button btn btn-primary mt-2">Send a Reset Link</button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/requestPassword.js"></script>
  </body>