<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="/CSS/all.min.css" />
  </head>
  <body>
    <header class="mb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="/">Let's travel</a>
            <div class="d-flex">
              <div class="form-check form-switch ms-auto mt-1 me-5">
                <label class="form-check-label" for="lightSwitch">
                  <i class="fa-regular fa-lightbulb"></i>
                </label>
                <input class="form-check-input" type="checkbox" id="lightSwitch"/>
              </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/admin">Admin Page</a>
                </li>
                <li class="nav-item">
                  <button class="btn btn-outline-secondary">Log Out</button>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="tel" placeholder="Phone number" aria-label="Phone number"/>
                <button class="btn btn-outline-primary text-nowrap" type="submit">
                  Call me
                </button>
              </form>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="container">
            <div class="row">
              <div class="col-6 offset-3 shadow-lg p-3 mb-5 bg-body rounded">
                <h1 class="text-center">Admin Page</h1>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item fogotten-password-tab" id="fogotten-password-tab" role="presentation">
                    <button class="nav-link" id="forgotten-password-tab" data-bs-toggle="tab" data-bs-target="#forgotten-password-tab-pane" type="button" role="tab" aria-controls="forgotten-password-tab-pane" aria-selected="false">
                      Forgot password
                    </button>
                  </li>
                </ul>
                    <form class="forgotten-password-form">
                      <div class="mb-3 mt-3">
                        <label for="forgotten-password" class="mb-1">Email address</label>
                        <input class="forgotten-password-input form-control" type="email" id="forgotten-password" placeholder="Enter your email"/>
                      </div>
                      <button class="send-link-button btn btn-primary">Send a Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
      </main>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/requestPassword.js"></script>
  </body>