.navbar-nav{
  font-family: "Arial";
}
.darkmode {
    background-color: #212529;
    color: white;
  }

.font-white{
    color: rgb(252, 252, 252);
  }

.darkmode-background{
    background-color: #212529;
}
.form-check-input {
    cursor: pointer;
}

.tab-header{
  color: #0d6efd;
}

.container-login {
  margin-top: 80px;
}

.requestPassword-form {
  margin-top: 80px;
}

.reset-password-div{
  margin-top: 80px;
}
/* For xs and sm screens */
@media screen and (max-width: 767.98px) {
  .input-password {
    width: 100%;
  }
  .nav-toggler-icon{
    color: grey;
  }
  .login-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .requestPassword-form{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .reset-password-div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* For md and lg screens */
@media screen and (min-width: 768px) {
  .input-password {
    width: 50%;
  }
}